@import '../../../styles/lkd-commons';

.lkd-spinner {
    @include                    lkd-flex($jus: center);
    width:                      100%;
    height:                     100%;
}

.dots {
    position: relative;

    .lkd-dot-1{
        @include                dot(-25px, -25px, 50px, 3s);
        border:                 2px solid $clr-sry;
    }
    
    .lkd-dot-2 {
        @include                dot(-50px, -50px, 100px, 4s);
        border:                 1px solid $clr-sry;
    }

    .lkd-dot-3 {
        @include                dot(-75px, -75px, 150px, 2s);
        border:                 1px solid $clr-sry;
    }

    .lkd-dot-4 {
        @include                dot(-100px, -100px, 200px, 3s);
        border:                 1px solid $clr-sry;
    }
}
